
<div class="column-center" >
  <div class="flex"></div>
  <div class="flex-2 column-center">
    <img class="m-b-20" src="assets/images/brain_logo.png" alt="BRAIN" width="30%">
    <ion-button class="m-t-40" shape="round" fill="outline" (click)="scanQRcode()">
      <ion-icon name="qr-scanner"></ion-icon>
      Scan QR
    </ion-button>
    <ion-button class="m-t-20" shape="round" fill="outline" (click)="loadUrl('https://brain.pcsd.gov.ph/qr');">
      <ion-icon name="speedometer"></ion-icon>
      Dashboard
    </ion-button>
    <ion-button class="m-t-20" shape="round" fill="outline" (click)="loadUrl('https://qr.pcsd.gov.ph');">
      <ion-icon name="speedometer"></ion-icon>
      Demo App
    </ion-button>
  </div>
  <div class="flex"></div>
</div>